@charset "utf-8";
#header ul li a {
	height: 20px;
	margin: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	border-left: #999999 1px solid;
	border-top: #999999 1px solid;
	border-bottom: #999999 1px solid;
	border-right: #999999 1px solid;
	color: #333333;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	top: 100px;
	left: 26%;
}
body h1 {
	position: absolute;
	top: 0px;
	left: 42%;
	font-size: 60px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

body p1 {
	top: 125px;
	position: absolute;
	padding-top: 40px;
	margin-left: 13%;
	margin-right: 13%;
}
body h3 {
	padding-top: 30px;
	top: 150px;
	position: absolute;
	margin-left: 14%;
	font-size: 22px;
}
body p2 {
	margin-left: 14%;
	top: 225px;
	position: absolute;
	padding-top: 10px;
	margin-right: 14%;
}


body h2 {
	top: 100px;
	position: absolute;
	padding-top: 30px;
	margin-left: 13%;
	margin-right: 13%;
	left: 30%;
	border-bottom: thin solid #000000;
}


#header li {
	list-style: none;
	display: inline;
}
#header ul li a:hover {
	color: #333333;
	background-color: #51E9EC;
}
#header ul li a:active {
	color: #000000;
	background-color: #FF9900;
}
